<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Posting App | Welcome!</title>

    <link type="text/css" rel="stylesheet" href="/style/index.css">
</head>
<body>

    <div id="welcomeDiv">
        <button id="showRegButton">Show Register</button>
        <button id="showLoginButton">Show Login</button>
    </div>
    <div id="userInfoDiv">
        <input id="usernameInput" type="text" placeholder="Username">
        <input id="emailInput" type="email" placeholder="Email">
        <input id="passwordInput" type="password" placeholder="Password">

        <button id="registerButton">Register</button>
        <button id="loginButton">Login</button>
    </div>
    <div id="status"></div>

    <script src="/scripts/welcomebundle.js"></script>
</body>
</html>