<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Posting App | Welcome!</title>

    <link type="text/css" rel="stylesheet" href="/style/index.css">
</head>
<body>
    <div id="userInfoDiv">
        <input id="usernameInput" type="text" placeholder="Username">
        <input id="emailInput" type="email" placeholder="Email">
        <input id="passwordInput" type="password" placeholder="Password">

        <button id="registerButton">Enter</button>

    </div>

    <script src="/scripts/welcomebuild.js"></script>
</body>
</html>